<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

	<div class="container">
	
	<h3>Add name</h3>
	<hr>
	
	<form action="#" th:action="@{/showFormForAdd}"
					th:object="${studentEntity}" method="POST">
					
	
	<input type="hidden" th:field="*{id}">
	<input type="text" th:field="*{rollNo}" placeholder="Roll No">
	<input type="text" th:field="*{name}" placeholder="Name">		
	<div class="text text-danger" th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">
	</div>		
	<input type="text" th:field="*{address}" placeholder="Address">				
	<input type="text" th:field="*{standard}" placeholder="Class">				
	<input type="text" th:field="*{phone}" placeholder="Phone">				
	<input type="text" th:field="*{parent}" placeholder="Parent">				
				
					<button type="submit">Save</button>
					
	</form>
	</div>

</body>
</html>